<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>View Animation</string>
		<key>controller</key>
		<string>ViewAnimationController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>AutoLayout Animation</string>
		<key>controller</key>
		<string>AutoLayoutAnimationController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Layer Animation</string>
		<key>controller</key>
		<string>LayerAnimationController</string>
	</dict>
</array>
</plist>
